# Web Scraping Assignment 4

In [1]:
import selenium
import pandas as pd
import numpy as np
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException, ElementNotVisibleException
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

Q.1. Most viewed videos on YouTube

In [2]:
#Opening web browser
driver = webdriver.Chrome(r"C:\Users\skabd\Downloads\chromedriver.exe")

In [13]:
#Opening webpage
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [14]:

#Scraping rank
rank = driver.find_elements(By.XPATH, '//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[1]')

#Scraping name
name = driver.find_elements(By.XPATH, '//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[2]')

#Scraping artist
artist = driver.find_elements(By.XPATH, '//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[3]')

In [20]:
#Scraping views
views = driver.find_elements(By.XPATH, '//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[4]')

#Scraping upload date
upload = driver.find_elements(By.XPATH, '//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[5]')

In [16]:
#for a in artist:
 #   print(a.text)

In [15]:
len(rank)

30

In [21]:
#DataFrame
df_videos = pd.DataFrame(columns=['Rank', 'Name', 'Artist', 'Upload_date', 'Views'])

In [22]:
#Appending values in dataframe
for i in range(len(rank)):
    df_videos = df_videos.append({'Rank': rank[i].text,
                               'Name': name[i].text,
                               'Artist': artist[i].text,
                               'Upload_date': upload[i].text,
                               'Views': views[i].text}, ignore_index=True)

In [23]:
df_videos

,Rank,Name,Artist,Upload_date,Views
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.73
1,2.,"""Despacito""[7]",Luis Fonsi,"January 12, 2017",8.14
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,"October 8, 2016",6.69
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,"May 2, 2018",6.15
4,5.,"""Shape of You""[16]",Ed Sheeran,"January 30, 2017",5.97
5,6.,"""See You Again""[18]",Wiz Khalifa,"April 6, 2015",5.86
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",5.26
7,8.,"""Wheels on the Bus""[24]",Cocomelon – Nursery Rhymes,"May 24, 2018",5.14
8,9.,"""Uptown Funk""[25]",Mark Ronson,"November 19, 2014",4.89
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[26]",Miroshka TV,"February 27, 2018",4.87
10,11.,"""Gangnam Style""[27]",Psy,"July 15, 2012",4.77
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,"January 31, 2012",4.55
12,13.,"""Dame Tu Cosita""[33]",El Chombo,"April 5, 2018",4.32
13,14.,"""Axel F""[34]",Crazy Frog,"June 16, 2009",3.87
14,15.,"""Sugar""[35]",Maroon 5,"January 14, 2015",3.86
15,16.,"""Roar""[36]",Katy Perry,"September 5, 2013",3.78
16,17.,"""Counting Stars""[37]",OneRepublic,"May 31, 2013",3.77
17,18.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.65
18,19.,"""Baa Baa Black Sheep""[39]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.61
19,20.,"""Thinking Out Loud""[40]",Ed Sheeran,"October 7, 2014",3.58
20,21.,"""Waka Waka (This Time for Africa)""[41]",Shakira,"June 4, 2010",3.56
21,22.,"""Dark Horse""[42]",Katy Perry,"February 20, 2014",3.50
22,23.,"""Faded""[43]",Alan Walker,"December 3, 2015",3.44
23,24.,"""Perfect""[44]",Ed Sheeran,"November 9, 2017",3.42
24,25.,"""Lakdi Ki Kathi""[45]",Jingle Toons,"June 14, 2018",3.42
25,26.,"""Let Her Go""[46]",Passenger,"July 25, 2012",3.42
26,27.,"""Girls Like You""[47]",Maroon 5,"May 31, 2018",3.40
27,28.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.38
28,29.,"""Lean On""[49]",Major Lazer,"March 22, 2015",3.37
29,30.,"""Bailando""[50]",Enrique Iglesias,"April 11, 2014",3.37

In [24]:
driver.close()

Q.2. Scraping India’s international fixtures from bcci.tv

In [107]:
#Opening web browser
driver = webdriver.Chrome(r"C:\Users\skabd\Downloads\chromedriver.exe")

In [108]:
#Opening webpage
driver.get('https://www.bcci.tv/')

In [109]:
#Clicking international option
inter_click = driver.find_element(By.XPATH, '/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')
inter_click.click()

In [115]:
#Scraping match title
title = driver.find_elements(By.XPATH, '//div[@class="match-card-middle__inner d-flex justify-content-between"]')

#Scraping series
series = driver.find_elements(By.XPATH, '//h5[@class="match-tournament-name ng-binding"]')

#Scraping place
place = driver.find_elements(By.XPATH, '//span[@class="ng-binding ng-scope"]')

#Scraping date
date = driver.find_elements(By.XPATH, '//div[@class="match-dates ng-binding"]')

#Scraping time
time = driver.find_elements(By.XPATH, '//div[@class="match-time no-margin ng-binding"]')

In [116]:
print(len(title), len(series), len(place), len(date), len(time))

1 1 1 1 1

In [117]:
df_match = pd.DataFrame(columns=['Match Title', 'Series', 'Place', 'Date', 'Time'])

In [118]:
for i in range(len(title)):
    df_match = df_match.append({'Match Title': title[i].text,
                               'Series': series[i].text,
                               'Place': place[i].text,
                               'Date': date[i].text,
                               'Time': time[i].text}, ignore_index=True)

In [119]:
df_match

,Match Title,Series,Place,Date,Time
0,India\nvs\nAustralia,ICC WORLD TEST CHAMPIONSHIP FINAL 2023,"Kennington Oval,",7 JUN 2023,3:30 PM IST

In [120]:
driver.close()

I didn't get any data in the international fixatures. So, whatever was there I just did that!

Q.3. Scraping State-wise GDP of India from statisticstime.com

In [20]:
#Opening web browser
driver = webdriver.Chrome(r"C:\Users\skabd\Downloads\chromedriver.exe")

In [21]:
#Opening webpage
driver.get('http://statisticstimes.com/')

In [22]:
#Clicking on economy button
economy = driver.find_element(By.XPATH, '/html/body/div[2]/div[1]/div[2]/div[2]/button/i')
economy.click()

In [23]:
#Click on India
try:
    india_click = driver.find_element(By.XPATH, '//*[@id="top"]/div[2]/div[2]/div/a[3]')
    
except ElementNotInteractableException:
    india_click.click()

In [25]:
#Click on GDP of Indian States
gdp_click = driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
gdp_click.click()

In [26]:
#Scraping rank
rank = driver.find_elements(By.XPATH, '//table[@class="display dataTable"][1]/tbody/tr/td[1]')

#Scraping state
state = driver.find_elements(By.XPATH, '//table[@class="display dataTable"][1]/tbody/tr/td[2]')

#Scraping GSDP(19-20)- at current prices
gsdp19 = driver.find_elements(By.XPATH, '//table[@class="display dataTable"][1]/tbody/tr/td[3]')

#Scraping GSDP(18-19)- at current prices
gsdp18 = driver.find_elements(By.XPATH, '//table[@class="display dataTable"][1]/tbody/tr/td[4]')

#Scraping share(18-19)
share = driver.find_elements(By.XPATH, '//table[@class="display dataTable"][1]/tbody/tr/td[5]')

#Scraping GDP
gdp = driver.find_elements(By.XPATH, '//table[@class="display dataTable"][1]/tbody/tr/td[6]')

In [10]:
for s in state[0:33]:
    print(s.text)

Maharashtra
Tamil Nadu
Uttar Pradesh
Gujarat
Karnataka
West Bengal
Rajasthan
Andhra Pradesh
Telangana
Madhya Pradesh
Kerala
Delhi
Haryana
Bihar
Punjab
Odisha
Assam
Chhattisgarh
Jharkhand
Uttarakhand
Jammu & Kashmir
Himachal Pradesh
Goa
Tripura
Chandigarh
Puducherry
Meghalaya
Sikkim
Manipur
Nagaland
Arunachal Pradesh
Mizoram
Andaman & Nicobar Islands

In [27]:
print(len(rank), len(state), len(gsdp19), len(gsdp18), len(share), len(gdp))

66 66 66 66 66 66

In [28]:
df_gdp = pd.DataFrame(columns=['Rank', 'State', 'GSDP(19-20)', 'GSDP(18-19)', 'Share', 'GDP'])

In [29]:
#Appending values in dataframe
for i in range(len(rank)):
    df_gdp = df_gdp.append({'Rank': rank[i].text,
                               'State': state[i].text,
                               'GSDP(19-20)': gsdp19[i].text,
                               'GSDP(18-19)': gsdp18[i].text,
                               'Share': share[i].text,
                           'GDP': gdp[i].text}, ignore_index=True)

In [30]:
df_gdp

   Rank                      State GSDP(19-20) GSDP(18-19)   Share      GDP
0     1                Maharashtra           -   2,632,792  13.94%  399.921
1     2                 Tamil Nadu   1,845,853   1,630,208   8.63%  247.629
2     3              Uttar Pradesh   1,687,818   1,584,764   8.39%  240.726
3     4                    Gujarat           -   1,502,899   7.96%  228.290
4     5                  Karnataka   1,631,977   1,493,127   7.91%  226.806
..  ...                        ...         ...         ...     ...      ...
61   29                     Sikkim      28,391      25,141   0.15%   17,060
62   30                   Nagaland           -      24,534   0.15%        -
63   31          Arunachal Pradesh           -      22,488   0.13%        -
64   32                    Mizoram      24,424      20,947   0.13%   17,797
65   33  Andaman & Nicobar Islands           -           -       -        -

[66 rows x 6 columns]

In [31]:
driver.close()

Q.4. Scraping the details of trending repositories on Github.com

In [65]:
#Opening web browser
driver = webdriver.Chrome(r"C:\Users\skabd\Downloads\chromedriver.exe")

In [66]:
#Opening webpage
driver.get('https://github.com/')

In [68]:
#Click on dropdown menu
menu_click = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
menu_click.click()

In [70]:
#Clicking on open source
try:
    open_click = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
    open_click.click()
except:
    pass

In [71]:
#From there click on trending
try:
    trending = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
    
except ElementNotInteractableException:
    trending.click()

In [101]:
#Scraping title
title = driver.find_elements(By.XPATH, '//div[@data-hpc]/article/h2')

#Scarping description
description = driver.find_elements(By.XPATH, '//p[@class="col-9 color-fg-muted my-1 pr-4"]')

#Scraping contributors count
contributors = driver.find_elements(By.XPATH, '//span[@class="d-inline-block mr-3"]')

#Scraping language
language = driver.find_elements(By.XPATH, '//span[@itemprop="programmingLanguage"]')

In [73]:
for i in title:
    print(i.text)

mitsuhiko / rye
xtekky / gpt4free
Josh-XT / Agent-LLM
Dogtiti / AutoGPT-Next-Web
BloopAI / bloop
OpenBMB / BMTools
btcpayserver / btcpayserver
go-skynet / LocalAI
berachain / polaris
lvwzhen / law-cn-ai
OpenGVLab / Ask-Anything
LawRefBook / Laws
suno-ai / bark
OpenLMLab / MOSS
Eugeny / tabby
lupantech / chameleon-llm
odin-lang / Odin
bhaskatripathi / pdfGPT
xtekky / chatgpt-clone
datawhalechina / hugging-llm
macrozheng / mall
ellie / atuin
TheRamU / Fay
OpenZeppelin / openzeppelin-contracts
pyscript / pyscript

In [102]:
print(len(title), len(description), len(contributors), len(language))

25 24 25 25

In [103]:
df_git = pd.DataFrame(columns=['Title', 'Description', 'Contributors', 'Language'])

In [104]:
#Appending values in dataframe
for i in range(len(title)):
    df_git = df_git.append({'Title': title[i].text,
                               'Description': description[i].text,
                               'Contributors': contributors[i].text,
                               'Language': language[i].text},ignore_index=True)

IndexError: list index out of range

In [105]:
df_git

,Title,Description,Contributors,Language
0,mitsuhiko / rye,an experimental alternative to poetry/pip/pipe...,Built by,Rust
1,xtekky / gpt4free,"decentralising the Ai Industry, free gpt-4/3.5...",Built by,Python
2,Josh-XT / Agent-LLM,An Artificial Intelligence Automation Platform...,Built by,Python
3,Dogtiti / AutoGPT-Next-Web,"🤖 Assemble, configure, and deploy autonomous A...",Built by,TypeScript
4,BloopAI / bloop,bloop is a fast code search engine written in ...,Built by,TypeScript
5,OpenBMB / BMTools,"Tool Learning for Big Models, Open-Source Solu...",Built by,Python
6,btcpayserver / btcpayserver,"Accept Bitcoin payments. Free, open-source & s...",Built by,C#
7,go-skynet / LocalAI,"🤖 Self-hosted, community-driven simple local O...",Built by,Go
8,berachain / polaris,Polaris is a modular implementation of the Eth...,Built by,Go
9,lvwzhen / law-cn-ai,⚖️ AI 法律助手,Built by,TypeScript
10,OpenGVLab / Ask-Anything,ChatGPT with video understanding! And many mor...,Built by,Python
11,LawRefBook / Laws,🔊 Text-Prompted Generative Audio Model,Built by,Python
12,suno-ai / bark,An open-source tool-augmented conversational l...,Built by,Python
13,OpenLMLab / MOSS,A terminal for a more modern age,Built by,Python
14,Eugeny / tabby,"Codes for ""Chameleon: Plug-and-Play Compositio...",Built by,TypeScript
15,lupantech / chameleon-llm,Odin Programming Language,Built by,Jupyter Notebook
16,odin-lang / Odin,PDF GPT allows you to chat with the contents o...,Built by,Odin
17,bhaskatripathi / pdfGPT,ChatGPT interface with better UI,Built by,Python
18,xtekky / chatgpt-clone,"HuggingLLM, Hugging Future.",Built by,Python
19,datawhalechina / hugging-llm,mall项目是一套电商系统，包括前台商城系统及后台管理系统，基于SpringBoot+MyB...,Built by,Jupyter Notebook
20,macrozheng / mall,🐢 Magical shell history,Built by,Java
21,ellie / atuin,Fay是一个完整的开源项目，包含Fay控制器及数字人模型，可灵活组合出不同的应用场景：虚拟主...,Built by,Rust
22,TheRamU / Fay,OpenZeppelin Contracts is a library for secure...,Built by,JavaScript
23,OpenZeppelin / openzeppelin-contracts,Home Page: https://pyscript.net Examples: http...,Built by,JavaScript

In [106]:
driver.close()

Q.5. Scraping details of top 100 songs on billiboard.com

In [2]:
#Opening web browser
driver = webdriver.Chrome(r"C:\Users\skabd\Downloads\chromedriver.exe")

In [3]:
#Opening webpage
driver.get('https://www.billboard.com/')

In [4]:
#Clicking on charts option
charts = driver.find_element(By.XPATH, '/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
charts.click()

In [5]:
#Clicking on hot 100
hot100 = driver.find_element(By.XPATH, '/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div[1]/div[2]/span/a')
hot100.click()

In [14]:
#Scraping song name
song = driver.find_elements(By.XPATH, '//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li/ul[1]/li/h3')

#Scraping artist name
artist = driver.find_elements(By.XPATH, '//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li/ul[1]/li[1]/span[1]')

#Scraping last week rank
last_rank = driver.find_elements(By.XPATH, '//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li/ul[1]/li[4]')

#Scraping peak rank
peak_rank = driver.find_elements(By.XPATH, '//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li/ul[1]/li[5]')

#Scraping weeks on board
week_board  = driver.find_elements(By.XPATH, '//div[@class="chart-results-list // lrv-u-padding-t-150 lrv-u-padding-t-050@mobile-max"]/div/ul/li/ul[1]/li[6]')

In [27]:
#for i in peak_rank:
 #   print(i.text)

In [16]:
print(len(song), len(artist), len(last_rank), len(peak_rank), len(week_board))

100 100 100 100 100

In [22]:
df_song = pd.DataFrame(columns=['Song_name', 'Artists', 'Last_week_rank', 'Peak_rank', 'Weeks on Board'])

In [24]:
#Appending values in dataframe
for i in range(len(song)):
    df_song = df_song.append({'Song_name': song[i].text,
                               'Artists': artist[i].text,
                               'Last_week_rank': last_rank[i].text,
                               'Peak_rank': peak_rank[i].text,
                               'Weeks on Board': week_board[i].text},ignore_index=True)

In [25]:
df_song

,Song_name,Artists,Last_week_rank,Peak_rank,Weeks on Board
0,Last Night,Morgan Wallen,1,1,11
1,Search & Rescue,Drake,-,2,1
2,Flowers,Miley Cyrus,3,1,13
3,Kill Bill,SZA,2,2,18
4,Creepin',"Metro Boomin, The Weeknd & 21 Savage",4,3,19
...,...,...,...,...,...
95,Memory Lane,Old Dominion,-,96,2
96,What He Didn't Do,Carly Pearce,68,37,17
97,Que Vuelvas,Carin Leon X Grupo Frontera,93,50,16
98,WTF,YoungBoy Never Broke Again Featuring Nicki Minaj,-,99,1
99,'98 Braves,Morgan Wallen,96,27,6

In [26]:
driver.close()

Q.6. Scraping details of Highest selling novels

In [28]:
#Opening web browser
driver = webdriver.Chrome(r"C:\Users\skabd\Downloads\chromedriver.exe")

In [29]:
#Opening web page
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [33]:
#Scraping book name
book_name = driver.find_elements(By.XPATH, '//table[@class="in-article sortable"]/tbody/tr/td[2]')

#Scraping author name
author = driver.find_elements(By.XPATH, '//table[@class="in-article sortable"]/tbody/tr/td[3]')

#Scraping volumes sold
volumes = driver.find_elements(By.XPATH, '//table[@class="in-article sortable"]/tbody/tr/td[4]')

#Scraping publisher
publisher = driver.find_elements(By.XPATH, '//table[@class="in-article sortable"]/tbody/tr/td[5]')

#Scarping genre
genre = driver.find_elements(By.XPATH, '//table[@class="in-article sortable"]/tbody/tr/td[6]')

In [31]:
for i in book_name:
    print(i.text)

Da Vinci Code,The
Harry Potter and the Deathly Hallows
Harry Potter and the Philosopher's Stone
Harry Potter and the Order of the Phoenix
Fifty Shades of Grey
Harry Potter and the Goblet of Fire
Harry Potter and the Chamber of Secrets
Harry Potter and the Prisoner of Azkaban
Angels and Demons
Harry Potter and the Half-blood Prince:Children's Edition
Fifty Shades Darker
Twilight
Girl with the Dragon Tattoo,The:Millennium Trilogy
Fifty Shades Freed
Lost Symbol,The
New Moon
Deception Point
Eclipse
Lovely Bones,The
Curious Incident of the Dog in the Night-time,The
Digital Fortress
Short History of Nearly Everything,A
Girl Who Played with Fire,The:Millennium Trilogy
Breaking Dawn
Very Hungry Caterpillar,The:The Very Hungry Caterpillar
Gruffalo,The
Jamie's 30-Minute Meals
Kite Runner,The
One Day
Thousand Splendid Suns,A
Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy
Time Traveler's Wife,The
Atonement
Bridget Jones's Diary:A Novel
World According to Clarkson,The
Captain Corelli's Mandolin
Sound of Laughter,The
Life of Pi
Billy Connolly
Child Called It,A
Gruffalo's Child,The
Angela's Ashes:A Memoir of a Childhood
Birdsong
Northern Lights:His Dark Materials S.
Labyrinth
Harry Potter and the Half-blood Prince
Help,The
Man and Boy
Memoirs of a Geisha
No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.
Island,The
PS, I Love You
You are What You Eat:The Plan That Will Change Your Life
Shadow of the Wind,The
Tales of Beedle the Bard,The
Broker,The
Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P
Subtle Knife,The:His Dark Materials S.
Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation
Delia's How to Cook:(Bk.1)
Chocolat
Boy in the Striped Pyjamas,The
My Sister's Keeper
Amber Spyglass,The:His Dark Materials S.
To Kill a Mockingbird
Men are from Mars, Women are from Venus:A Practical Guide for Improvin
Dear Fatty
Short History of Tractors in Ukrainian,A
Hannibal
Lord of the Rings,The
Stupid White Men:...and Other Sorry Excuses for the State of the Natio
Interpretation of Murder,The
Sharon Osbourne Extreme:My Autobiography
Alchemist,The:A Fable About Following Your Dream
At My Mother's Knee ...:and Other Low Joints
Notes from a Small Island
Return of the Naked Chef,The
Bridget Jones: The Edge of Reason
Jamie's Italy
I Can Make You Thin
Down Under
Summons,The
Small Island
Nigella Express
Brick Lane
Memory Keeper's Daughter,The
Room on the Broom
About a Boy
My Booky Wook
God Delusion,The
"Beano" Annual,The
White Teeth
House at Riverton,The
Book Thief,The
Nights of Rain and Stars
Ghost,The
Happy Days with the Naked Chef
Hunger Games,The:Hunger Games Trilogy
Lost Boy,The:A Foster Child's Search for the Love of a Family
Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours

In [34]:
print(len(book_name), len(author), len(volumes), len(publisher), len(genre))

100 100 100 100 100

In [35]:
df_book = pd.DataFrame(columns=['Book_name', 'Authors', 'Volumes_sold', 'Publisher', 'Genre'])

In [36]:
#Appending values in dataframe
for i in range(len(book_name)):
    df_book = df_book.append({'Book_name': book_name[i].text,
                               'Authors': author[i].text,
                               'Volumes_sold': volumes[i].text,
                               'Publisher': publisher[i].text,
                               'Genre': genre[i].text},ignore_index=True)

In [37]:
df_book

,Book_name,Authors,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [38]:
driver.close()

Q.7. Scraping details most watched tv series of all time from imdb.com

In [2]:
#Opening web browser
driver = webdriver.Chrome(r"C:\Users\skabd\Downloads\chromedriver.exe")

In [3]:
#Opening web page
driver.get('http://www.imdb.com/list/ls095964455/')

In [4]:
#Scraping name
name = driver.find_elements(By.XPATH, '//div[@class="lister-item-content"]/h3[1]/a[1]')

#Scraping year span
year_span = driver.find_elements(By.XPATH, '//div[@class="lister-item-content"]/h3[1]/span[2]')

#Scraping genre
genre = driver.find_elements(By.XPATH, '//span[@class="genre"]')

#Scraping runtime
runtime = driver.find_elements(By.XPATH, '//span[@class="runtime"]')

#Scraping ratings
ratings = driver.find_elements(By.XPATH, '//div[@class="ipl-rating-widget"]')

#Scraping votes
votes = driver.find_elements(By.XPATH, '//span[@name="nv"]')

In [5]:
for i in ratings:
    print(i.text)

9.2
Rate
8.7
Rate
8.1
Rate
7.5
Rate
7.6
Rate
8.1
Rate
6.6
Rate
7.6
Rate
7.5
Rate
7.5
Rate
8.2
Rate
8.2
Rate
8.8
Rate
9.1
Rate
8.5
Rate
7.4
Rate
7.7
Rate
8
Rate
9.5
Rate
8.1
Rate
8.4
Rate
8.3
Rate
8.1
Rate
7.7
Rate
8.7
Rate
7.7
Rate
8.8
Rate
8.6
Rate
8.9
Rate
8.3
Rate
8.5
Rate
8.5
Rate
8.3
Rate
6.2
Rate
7.5
Rate
8.2
Rate
7.8
Rate
8.5
Rate
7.9
Rate
8.5
Rate
9.1
Rate
6.5
Rate
8
Rate
8.7
Rate
8.7
Rate
7.3
Rate
8.3
Rate
8.6
Rate
7.8
Rate
7.5
Rate
7.7
Rate
8.7
Rate
6.8
Rate
8.2
Rate
8
Rate
8.3
Rate
8.8
Rate
8.7
Rate
6.7
Rate
8.3
Rate
8.3
Rate
7.3
Rate
6.8
Rate
8.4
Rate
7.4
Rate
8
Rate
7.9
Rate
6.8
Rate
8.7
Rate
8.4
Rate
6.5
Rate
7.9
Rate
8.9
Rate
7.8
Rate
7.6
Rate
8.9
Rate
8.1
Rate
8.5
Rate
8.2
Rate
7.3
Rate
8.7
Rate
8.2
Rate
6.4
Rate
6.3
Rate
8.6
Rate
7.8
Rate
7.3
Rate
7.7
Rate
7.2
Rate
8.5
Rate
6.5
Rate
8.1
Rate
8.6
Rate
9.4
Rate
7.8
Rate
7.4
Rate
7.8
Rate
8.1
Rate
7
Rate
8.6
Rate

In [6]:
print(len(name), len(year_span), len(genre), len(runtime), len(ratings), len(votes))

100 100 100 100 100 100

In [7]:
df_series = pd.DataFrame(columns=['Name', 'Year of Span', 'Genre', 'Runtime', 'Ratings', 'Votes'])

In [8]:
#Appending values into the dataframe
for i in range(len(name)):
    df_series = df_series.append({'Name': name[i].text, 
                                  'Year of Span': year_span[i].text,
                                  'Genre': genre[i].text,
                                  'Runtime': runtime[i].text,
                                  'Ratings': ratings[i].text,
                                  'Votes': votes[i].text}, ignore_index=True)

In [9]:
df_series

,Name,Year of Span,Genre,Runtime,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2\nRate,"2,153,089"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7\nRate,"1,235,222"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1\nRate,"1,022,749"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5\nRate,"301,002"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6\nRate,"259,915"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4\nRate,"51,382"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8\nRate,"63,425"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1\nRate,"206,788"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7\nRate,"42,928"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6\nRate,"256,358"

In [10]:
driver.close()

Q.8. Scraping Details of Datasets from UCI machine learning repositories

In [2]:
#Opening web browser
driver = webdriver.Chrome(r"C:\Users\skabd\Downloads\chromedriver.exe")

In [3]:
#Opening webpage
driver.get('https://archive.ics.uci.edu/')

In [4]:
#Clicking on view all data sets
data = driver.find_element(By.XPATH, '/html/body/table[1]/tbody/tr/td[2]/span[2]/a')
data.click()

In [5]:
#Scraping dataset names
names = driver.find_elements(By.XPATH, '//table[@border="1"]/tbody/tr/td[1]')

#Scraping datatype
data_type = driver.find_elements(By.XPATH, '//table[@border="1"]/tbody/tr/td[2]')

#Scraping task
task = driver.find_elements(By.XPATH, '//table[@border="1"]/tbody/tr/td[3]')

#Scraping attribute type
attribute_type = driver.find_elements(By.XPATH, '//table[@border="1"]/tbody/tr/td[4]')

#Scraping no. of instances
instances = driver.find_elements(By.XPATH, '//table[@border="1"]/tbody/tr/td[5]')

#Scraping no. of attributes
attributes = driver.find_elements(By.XPATH, '//table[@border="1"]/tbody/tr/td[6]')

#Scraping year
year = driver.find_elements(By.XPATH, '//table[@border="1"]/tbody/tr/td[7]')

In [6]:
#for i in names:
 #   print(i.text)

In [7]:
print(len(names), len(data_type), len(task), len(attribute_type), len(instances), len(attributes), len(year))

623 623 623 623 623 623 623

In [8]:
df_ml = pd.DataFrame(columns=['Names', 'Data type', 'Task', 'Attribute type', 'No. of Instances', 'No. of Attributes', 'Year'])

In [9]:
#Appending values into dataframe
for i in range(len(names)):
    df_ml = df_ml.append({'Names': names[i].text, 
                                  'Data type': data_type[i].text,
                                  'Task': task[i].text,
                                  'Attribute type': attribute_type[i].text,
                                  'No. of Instances': instances[i].text,
                                  'No. of Attributes': attributes[i].text,
                                  'Year': year[i].text}, ignore_index=True)

In [10]:
df_ml

,Names,Data type,Task,Attribute type,No. of Instances,No. of Attributes,Year
0,Name,Data Types,Default Task,Attribute Types,# Instances,# Attributes,Year
1,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
2,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
3,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
4,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
...,...,...,...,...,...,...,...
618,Influenza outbreak event prediction via Twit...,Multivariate,Classification,"Integer, Real",75840,525,2020
619,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
620,Maternal Health Risk Data Set,,Classification,,1014,7,2020
621,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
622,Image Recognition Task Execution Times in Mo...,Univariate,Regression,Real,4000,2,2021

In [ ]:
driver.close()

Q.9. Scraping details of Data science recruiters

In [51]:
#Opening web browser
driver = webdriver.Chrome(r"C:\Users\skabd\Downloads\chromedriver.exe")

In [52]:
#Opening webpage
driver.get('https://www.naukri.com/hr-recruiters-consultants')

In [53]:
#Clicking on recruiters option
recruiters_option = driver.find_element(By.XPATH, '/html/body/div[1]/div/ul/li[2]/a/div')
recruiters_option.click()

In [54]:
#Input Data Science
input_value = driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input')
input_value.send_keys('Data Science')

In [55]:
#Searching 
search_button = driver.find_element(By.XPATH, '/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button')
search_button.click()

In [56]:
#Scraping name
name = driver.find_elements(By.XPATH, '//span[@class="fl ellipsis"]')

#Scraping designation
designation = driver.find_elements(By.XPATH, '//span[@class="ellipsis clr"]')

#Scraping company
company = driver.find_elements(By.XPATH, '//a[@class="ellipsis"][2]')

#Scraping skills they hire for
skills = driver.find_elements(By.XPATH, '//div[@class="hireSec highlightable"]')

#Scraping location
location = driver.find_elements(By.XPATH, '//small[@class="ellipsis"]')

In [57]:
for i in name:
    print(i.text)

Aakash Harit
shravan Kumar Gaddam
MARSIAN Technologies LLP
Anik Agrawal
subhas patel
Abhishek - Only Analytics Hiring - India and
Institute for Financial Management and Resear
Balu Ramesh
Asif Lucknowi
InstaFinancials
Kalpana Dumpala
Mubarak
Kushal Rastogi
Priyanka Akiri
Kapil Devang
Mahesh Babu Channa
Vaishnavi Kudalkar
Sakshi Chhikara
Ruchi Dhote
Manisha Yadav
Riya Rajesh
Rashmi Bhattacharjee
Faizan Kareem
Rithika dadwal
Sandhya Khandagale
Shaun Rao
Deeparchi Sharma
Azahar Shaikh
Manas
kumar
Sunil Vedula
Rajat Kumar
Dhruv Dev Dubey
Avnish Mishra
Jayanth N
Avodha
Priya Khare
Amit Sharma
Kanan
Shashikant Chaudhary
Brad
Rutuja Pawar
Madhusudhan Sridhar
Ankit Sinha
Gaurav Chouhan
Rashi Kacker
Ashwini
Balaji Kolli
Rajani Nagaraj
ROHIT Kumar

In [58]:
print(len(name), len(designation), len(company), len(skills), len(location))

50 50 50 50 49

In [59]:
df_recruiter = pd.DataFrame(columns=['Name', 'Designation', 'Company', 'Skills', 'Location'])

In [62]:
#Appending values into dataframe
for i in range(len(name)):
    df_recruiter = df_recruiter.append({'Name': name[i].text,
                                   'Designation': designation[i].text,
                                   'Company': company[i].text,
                                   'Skills': skills[i].text,
                                   'Location': location[i].text},ignore_index=True)

In [63]:
df_recruiter

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
...,...,...,...,...,...
144,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",NaN
145,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",NaN
146,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",NaN
147,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",NaN
148,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",NaN

In [64]:
driver.close()